*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  :root{
    --pink : #D16BA5;
    --pinktwo:#FFA1DC;
    --purple: #e0cffe;
    --sea:#5FFBF1;
    --nav: #F7EAEA;
    --white: #ffffff;
  }
  body{
    font-family: cursive;
    font-size: 18px; 
  }
 nav{
  display: flex;
  justify-content: space-between;
   align-items: center;
background: var(--pinktwo);
padding: 10px 20px;
position: relative;

 }
 .logo{
  display: flex;
  align-items: center;
 }
.logo-toy img{
  height: 50px;
}
.nav-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link{
  display: flex;
  gap : 20px;
  list-style: none;
  margin: 0;
  padding: 0;

}
.nav-link li a{
  
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}




  

   .hamburger{
 width: 30px;
 height: 20px;
    display: none;
    
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
   }
  .hamburger span{
    
    height: 4px;
    background: var(--white);
    border-radius: 2px;
    transition: 0.3s ease;
  }
.hamburger.active span:nth-child(1){
  transform: rotate(45deg) translate(5px,5px);
}
  .hamburger.active span:nth-child(2){
    opacity: 0;
  }
  .hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
  }
  @media  (max-width: 768px) {
   .nav-link{
    display: none;
    position: absolute;
    top: 100%;
    right:0;
    width: 100%;
    background: var(--pinktwo);
    
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    
    z-index: 10;
   }
   .hamburger{
    display: flex;
   }
   .nav-link.active {
    display: flex;
    
 }

  }


.hero{
  
  display : flex;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;
}
.hero-content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, var(--pinktwo),var(--white),var(--pinktwo));
}
.hero-image  img{
  height: 600px;
  max-width: 100%;
  object-fit: contain;
padding: 10px 0 0 0;
}