*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  :root{
    --pink : #D16BA5;
    --purple: #86A8E7;
    --sea:#5FFBF1;
    --nav: #F7EAEA;
  }
  body{
    font-family: cursive;
    font-size: 18px; 
  }
 nav{
  display: flex;
  justify-content: space-between;
   align-items: center;
background: rgb(214, 78, 183);
padding: 10px 20px;

 }
 .logo{
  display: flex;
  align-items: center;
 }
.logo-toy img{
  height: 50px;
}
.nav-link{
  display: flex;
  gap : 20px;

}
.nav-link li{
  list-style: none;
 
}
.nav-link a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}



  

   .hamburger{
    width: 30px;
    height: 20px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
   }
  .hamburger span{
    
    height: 4px;
    background: pink;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  
  
  @media  (max-width: 768px) {
   .nav-link{
    display: none;
   }
   .hamburger{
    display: flex;
   }
  }